/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

/* Title Styles */
#title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3vw;
}

/* Main Content Styles */
#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Game Board Styles */
#gameboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 100px;
    grid-gap: 5px;
}

/* SUPPLEMENTAL: tile */
.tile {
    border: 0.75px solid #7193a4;
    width: 50px;
    height: 50px;
}

/* SUPPLEMENTAL: letter */
.letter {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: 5%;
    font-size: 40px;
    opacity: 65%;
}

/* SUPPLEMENTAL: not valid message */
.not-valid {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3vw;
    text-align: center;
    margin-top: 20px;
    grid-area: 7 / 1 / 7 / 6;
    font-size: 10pt;
}

/* SUPPLEMENTAL: win message */
.win-message {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3vw;
    text-align: center;
    margin-top: 20px;
}

/* SUPPLEMENTAL: lost message */
.lost-message {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3vw;
    text-align: center;
    margin-top: 20px;
}

/* SUPPLEMENTAL: not enough message */
.not-enough {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3vw;
    text-align: center;
    margin-top: 20px;
}


/* Keyboard Styles */
.keyboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.keyboard-row {
    width: 500px;
    text-align: center;
    margin-top: 9px;
}

.keyboard-row button {
    padding: 15px;
}